@page
@model Instructors.Create

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Instructor</h4>
<hr />
<form method="post">
    <div class="row">
        <div >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Instructor.Id" />
                <input type="hidden" asp-for="Instructor.RowVersion" />
                <input type="hidden" asp-for="Instructor.AuditCreateDateTime" />
                <input type="hidden" asp-for="Instructor.AuditUpdateDateTime" />

                <div class="form-group">
                    <label asp-for="Instructor.Prefix" class="col-form-label"></label>
                    <input asp-for="Instructor.Prefix" class="form-control" />
                    <span asp-validation-for="Instructor.Prefix" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Instructor.FirstName" class="col-form-label"></label>
                    <input asp-for="Instructor.FirstName" class="form-control" />
                    <span asp-validation-for="Instructor.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Instructor.MiddleName" class="col-form-label"></label>
                    <input asp-for="Instructor.MiddleName" class="form-control" />
                    <span asp-validation-for="Instructor.MiddleName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Instructor.LastName" class="col-form-label"></label>
                    <input asp-for="Instructor.LastName" class="form-control" />
                    <span asp-validation-for="Instructor.LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Instructor.Suffix" class="col-form-label"></label>
                    <input asp-for="Instructor.Suffix" class="form-control" />
                    <span asp-validation-for="Instructor.Suffix" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Instructor.DateOfBirth" class="col-form-label"></label>
                    <input asp-for="Instructor.DateOfBirth" class="form-control" />
                    <span asp-validation-for="Instructor.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Instructor.HireDate" class="col-form-label"></label>
                    <input asp-for="Instructor.HireDate" class="form-control" />
                    <span asp-validation-for="Instructor.HireDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Instructor.OfficeLocation" class="col-form-label"></label>
                    <input asp-for="Instructor.OfficeLocation" class="form-control" />
                    <span asp-validation-for="Instructor.OfficeLocation" class="text-danger" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </div>
    </div>
</form>
    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
