.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
        line-height: 20px;
    }
}