@page
@model ContosoUniversity.Web.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Student.Id" />
            <input type="hidden" asp-for="Student.RowVersion" />
            <input type="hidden" asp-for="Student.AuditCreateDateTime" />
            <input type="hidden" asp-for="Student.AuditUpdateDateTime" />

            <div class="form-group">
                <label asp-for="Student.Prefix" class="col-form-label"></label>
                <input asp-for="Student.Prefix" class="form-control" />
                <span asp-validation-for="Student.Prefix" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.FirstName" class="col-form-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.MiddleName" class="col-form-label"></label>
                <input asp-for="Student.MiddleName" class="form-control" />
                <span asp-validation-for="Student.MiddleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.LastName" class="col-form-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.Suffix" class="col-form-label"></label>
                <input asp-for="Student.Suffix" class="form-control" />
                <span asp-validation-for="Student.Suffix" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.DateOfBirth" class="col-form-label"></label>
                <input asp-for="Student.DateOfBirth" class="form-control" />
                <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Student.EnrollmentDate" class="col-form-label"></label>
                <input asp-for="Student.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
